.boggle {
	width: 600px;
	height: 600px;
	margin: auto;
}

.cell {
	font-size: 50px;
	text-align: center;
	border: solid;
	width: 100px;
	height: 100px;
	font-family: 'Indie Flower' cursive im !important;
}

.board {
	margin: auto;
}

.button {
	border-radius: 50%;
	background-color: blue;
	padding: 10px;
	border: solid;
	font-family: 'Indie Flower', cursive;
	transition: .5s;
}

.button:hover {
	background-color: purple;
	cursor: pointer;
}

#player-info {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
